bin/
obj/
*.user
*.suo
.vs/
packages/
*.nupkg
TestResults/
*.dotnet-local/
node_modules/
__pycache__/
*.pyc
*.bak
generate-assets.ps1
build_assets.py*
merge_assets.py*
gen_app*
gen_test*
create_app*
mk_dgspec*
